body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #4d1515, #1a264b);
    color: #FFF;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #1EC6D9;
    color: #FFF;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #149BA3;
}

#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}